@using EyeCTforParticipation.Models;
@using System.Collections.Generic;

@{
    ViewBag.Title = "Hulpvragen";
    ViewBag.Scripts = new string[]
    {
        "chat"
    };
    ViewBag.Nav = new NavModel[]
    {
        new NavModel
        {
            Title = "Hulpvragen",
            Href = "helprequests",
            Current = true
        },
        new NavModel
        {
            Title = "Hulpverleners",
            Href = "aidworkers"
        },
        new NavModel
        {
            Title = "Account",
            Href = "account"
        }
    };

    List<HelpRequestModel> helpRequests = (List<HelpRequestModel>)Model;
}

<header>
    <h2>Hulpvragen</h2>
    <button class="primary_button add_helprequest"><i class="material-icons">&#xE145;</i>Hulpvraag toevoegen</button>
</header>
<table class="helprequests">
    <tr>
        <th><h3>Titel</h3></th>
        <th><h3>Aanmeldingen</h3></th>
        <th><h3>Datum</h3></th>
        <th><h3>Locatie</h3></th>
    </tr>
    @foreach (HelpRequestModel helpRequest in helpRequests)
    {
        string urgency = "";
        switch(helpRequest.Urgency)
        {
            case HelpRequestUrgency.LOW:
                urgency = "<span class=\"urgency_low\">Belangrijk</span>";
                break;
            case HelpRequestUrgency.NORMAL:
                urgency = "<span class=\"urgency_normal\">Urgent</span>";
                break;
            case HelpRequestUrgency.CRITICAL:
                urgency = "<span class=\"urgency_critital\">Zeer urgent</span>";
                break;
        }
        urgency = helpRequest.Closed ? "<span class=\"closed\"><i class=\"material-icons\">&#xE897;</i><i>Gesloten</i></span>" : urgency;
    
        <tr data-id="@helpRequest.Id">
            <td>
                <h4>@Html.Raw(urgency + helpRequest.Title)</h4>
            </td>
            <td>@helpRequest.ApplicationsCount</td>
            <td>@helpRequest.Date.ToString("dd-MM-yyyy")</td>
            <td>Eindhoven</td>
        </tr>
    }
</table>
@if (helpRequests.Count == 0)
{
    <p class="info">Voeg een hulpvraag toe door op <b>Hulpvraag toevoegen</b> te klikken.</p>
}
